@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* BODY */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Centralizar */
#centralizar {
  display: flex;
  border: 0px solid rgb(64, 6, 87);
  padding: 20px;
  width: 80%;
  height: 80%;
  box-shadow: 0px 0px 8px rgb(145, 142, 142);
  border-radius: 4px;
}

/* COINTAINER - Left 
  VULGO BARRA LATERAL
*/

/* #cointainer-left {
  flex: 1;
  border: 1px solid rgb(64, 6, 87);
  float: left;
} */

/* COINTAINER - RIGHT 
    BARRA CIMA + CONTEUDO

*/
#cointainer-right {
  flex: 8;
  border: 1px solid rgb(205, 121, 238);
  float: right;
}

/* BARRA DE CIMA */
#headernav {
  display: flex;
  border: 1px solid rgb(247, 14, 14);
}
/* COINTAINER DE CONTEUDO */
#cointainer-content {
  display: inline-block;
  border: 1px solid green;
}
